<div class = "container-md"> 
    <h1 class = "text-primary">Listado de Modelos</h1>
    <p class = "text-muted">Realice la inserción y actualización de los modelos</p> 
    <form ngNativeValidate #form>
        <label>Descripción: </label>
        <input type = "text" 
               class = "form-control"
               [(ngModel)] = "Modelo.Descripcion_modelo"
               [ngModelOptions] = "{standalone:true}"
               required = "true"
               pattern="[a-zA-Z]{2,254}"
        > 

        <label>Marca: </label>
        <select
            class="form-control input"
            [(ngModel)]="Modelo.Id_marca"
            [ngModelOptions]="{standalone: true}"
            required = "true">
            <option value="">-Seleccione una marca-</option>
            <option *ngFor="let marcas of listado_marcas"
            [value]="marcas.Id_marca">{{marcas.Nombre_marca}}</option>
        </select>

        <label>Subcategoria: </label>
        <select
          class="form-control input"
            [(ngModel)]="Modelo.Id_subcategoria"
            [ngModelOptions]="{standalone: true}"
            required = "true">
            <option value="">-Seleccione una subcategoria-</option>
            <option *ngFor="let subcategoria of listado_subcategorias"
            [value]="subcategoria.Id_subcategoria">{{subcategoria.Descripcion_subcategoria}}</option>   
        </select>  

        <p>
        </p>

        <button (click)="form.checkValidity() ? insertar_modelo() : null" class="btn btn-primary">Guardar Registro</button>

        <p>    
        </p>

        <button (click)="volverpro()" class="btn btn-primary">Regresar</button>

        <p>    
        </p>


    </form>

    <p>
    </p>

    <table class = "table table-dark">

        <thead>
            <tr>  
                <th>Descripción</th>
                <th>Marca</th>
                <th>Subcategoria</th>
                <th></th>
                
            </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let p of listado_modelos">
            <td>{{p.Descripcion_modelo}}</td>
            <td>{{p.Nombre_marca}}</td>
            <td>{{p.Descripcion_subcategoria}}</td> 
            <td>
                <button type = "button" class = "btn btn-primary btn-sm " 
                width = 74px
                data-toggle = "modal"
                data-target = "#exampleModal"
                (click) = "pasarDatosModelos(p)">Editar</button>
            </td> 
 
        </tr>
        </tbody>
    </table>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar Modelo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <form>

                <label>ID del Modelo: </label>
                <input type = "text" 
                    class = "form-control"
                    [(ngModel)] = "Modelo.Id_modelo"
                    [ngModelOptions] = "{standalone:true}"
                    readonly = "true"
                > 

                <label>Descripción: </label>
                <input type = "text" 
                    class = "form-control"
                    [(ngModel)] = "Modelo.Descripcion_modelo"
                    [ngModelOptions] = "{standalone:true}"
                > 

                <label>Marca: </label>
                <select
                    class="form-control input"
                    [(ngModel)]="Modelo.Id_marca"
                    [ngModelOptions]="{standalone: true}">
                    <option value="">-Seleccione una marca-</option>
                    <option *ngFor="let marcas of listado_marcas"
                    [value]="marcas.Id_marca">{{marcas.Nombre_marca}}</option>
                </select>
        
                <label>Subcategoria: </label>
                <select
                  class="form-control input"
                    [(ngModel)]="Modelo.Id_subcategoria"
                    [ngModelOptions]="{standalone: true}">
                    <option value="">-Seleccione una Subcategoria-</option>
                    <option *ngFor="let subcategoria of listado_subcategorias"
                    [value]="subcategoria.Id_subcategoria">{{subcategoria.Descripcion_subcategoria}}</option>   
                </select>
            </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button (click)="update_modelo(Modelo.Id_modelo)"type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
        </div>
    </div>

</div>