<div class = "container-md"> 
    <h1 class = "text-primary">Listado de Categoria</h1>
    <p class = "text-muted">Realice la inserción, actualización y eliminación de Categoria</p> 
    <form>
    
        <label>Descripcion: </label>
        <input type = "text" 
               class = "form-control"
               [(ngModel)] = "Categorias.Descripcion_categoria"
               [ngModelOptions] = "{standalone:true}"
        > 
        <p>
        </p> <!-- HOLA-->

        <button (click)="insertar_categorias()" class="btn btn-primary">Guardar Registro</button>
        
        <p>
        </p>

        <button (click)="volverpro()" class="btn btn-primary">Regresar</button>


    </form>

    <p>
    </p>

    <table class = "table table-dark">

        <thead>
            <tr>  
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let e of listado_categorias">
            <td>{{e.Descripcion_categoria}}</td>
            
            <td>
                <button type = "button" class = "btn btn-primary btn-sm " 
                width = 74px
                data-toggle = "modal"
                data-target = "#exampleModal"
                (click) = "pasarDatosCategorias(e)">Editar</button>
            </td> 

        </tr>
        </tbody>
    </table>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar Categoria</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <form>

                <label>ID de la Categoria: </label>
                <input type = "text" 
                    class = "form-control"
                    [(ngModel)] = "Categorias.Id_categoria"
                    [ngModelOptions] = "{standalone:true}"
                    readonly = "true"
                > 

                <label>Descripcion de la Categoria: </label>
                <input type = "text" 
                    class = "form-control"
                    [(ngModel)] = "Categorias.Descripcion_categoria"
                    [ngModelOptions] = "{standalone:true}"
                > 

            </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button (click)="update_categorias(Categorias.Id_categoria)"type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
        </div>
    </div>

</div>
