<div class="container-md">   
    <h1 class="text-primary">Listado de Marcas</h1>
   <p class="text-muted">Realice la inserción y actualización</p>
    <form ngNativeValidate #form>

        <label>Nombre: </label>
        <input type = "text" 
               class = "form-control"
               [(ngModel)] = "marca.Nombre"
               [ngModelOptions] = "{standalone:true}"
               required = "true"
               pattern="[a-zA-Z]{2,254}"
        > 
       <p>    
       </p>

       <button (click)="form.checkValidity() ? insert_marca(): null" class="btn btn-primary">Guardar Registro</button>

       <p>    
       </p>

    <button (click)="volverpro()" class="btn btn-primary">Regresar</button>

    <p>    
    </p>

    </form>

    <table class = "table table-dark">

      
       <thead>
           <tr>
       <th>Nombre</th>
       <th></th>
       <th></th>
       
   </tr>
       </thead>
       <tbody>

           <tr *ngFor="let c of listado_marcas">
           <td>{{c.Nombre_marca}}</td>
           <td>

           <button class = "btn btn-primary btn-sm"
           width= 74px
           data-toggle="modal"
           data-target="#editModal"
           (click)="pasarDatosMarca(c)">Editar</button>
           </td>

       </tr>
       </tbody>

   </table>    
   </div>

   <div class="modal fade" id="editModal" tabindex="-1" role="dialog" 
   aria-labelledby="tituloModalLabel" aria-hidden="true">
   <div class ="modal-dialog" role="document">
       <div class ="modal-content">
           <div class="modal-header">
               <h5 class="text-info" id="tituloModalLabel">Modificar Marca</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
               </button>
           </div>
           <div class ="modal-body">
           <form>
                <label>Id Marca: </label>
                <input type = "text" 
                    class = "form-control"
                    [(ngModel)] = "marca.Id_marca"
                    [ngModelOptions] = "{standalone:true}"
                    readonly = "true"
                > 

                <label>Nombre: </label>
                <input type = "text" 
                    class = "form-control"
                    [(ngModel)] = "marca.Nombre"
                    [ngModelOptions] = "{standalone:true}"
                > 
           </form>

       </div>

       <div class="modal-footer">
           <button type ="button" class ="btn btn-secondary btn-sm"
           data-dismiss="modal"
           >Cerrar</button>
           <button (click)="update_marca(marca.Id_marca)" type="button" class="btn btn btn-primary btn-sm"
           >Guardar</button>
       </div>
   </div>
</div>
</div>