<!DOCTYPE html>
<html>
<head>
	<title>Variedades K&D</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
		<h1>Variedades K&D</h1>
	</header>
	
	<div class="contedorPrincipal">
		<div class="contenedorBienvenido">
			<h1>BIENVENIDO A VARIEDADES K&D</h1>
			
		</div>
		<div class="contenedorInformativo">
			<div class="tituloLogin">
				<img src="../../../assets/img/usuarioLogin.png"> 
				<h1>Iniciar Sesión</h1>
			</div>
			<div class="contenedorLogin">
				<form class="form-container" #login_form="ngForm" novalidate="novalidate" autocomplete="off" oncopy="return false" onpaste="return false">
					<!--nombreUsuario--->
					<div class="form-group m-b-20">
						<input type="text"
						class = "form-control form-control-lg inverse-mode login-input" 
						placeholder="Nombre Usuario"
						id="LoginID"
						name="LoginID"  
						#username="ngModel"
						[(ngModel)]="loading_data.LoginID"
						minlength = "5"
						maxlength = "20"
						required="true"/>
						<p *ngIf="username.errors && username.errors.required && submitted" class="login-error-text" style="border: none;color: red;"><i class="fa fa-exclamation-circle login-error-icon"></i>El usuario es requerido</p>
						<p *ngIf="username.errors && username.errors.minlength && submitted" class="login-error-text" style="border: none;color: red;"><i class="fa fa-exclamation-circle login-error-icon"></i>Ingrese al menos 5 caracteres en este campo</p>
					</div>
					<!--contraseñaUsuario--->
					<div>
						<input type="password" 
						class = "form-control form-control-lg inverse-mode login-input"
						placeholder="Contraseña Usuario"
						id="Contrasenia"
						name="Contrasenia" 
						#password="ngModel"
						[(ngModel)]="loading_data.Contrasenia"
						minlength = "8"
						maxlength = "30"
						pattern="[0-9|a-z|A-Z|_]+"
						required="true"/>
						<p *ngIf="password.errors && password.errors.required && submitted" class="login-error-text" style="border: none;color: red;"><i class="fa fa-exclamation-circle login-error-icon"></i>La contraseña es requerida</p>
						<p *ngIf="password.errors && password.errors.minlength && submitted" class="login-error-text" style="border: none;color: red;"><i class="fa fa-exclamation-circle login-error-icon"></i>Ingrese al menos 8 caracteres en este campo</p>
						<br/>
					</div>
					<!--botonLogin--->
					<div class="login-buttons">
						<button 
							(click)="login()"
							[disabled]="loading"
							type="submit"
							class="tamañoBoton btn btn-primary btn-lock btn-lg">
							<span *ngIf="!loading"><i class="fa fa-sing-in-alt"></i>Iniciar Sesion</span>
							<span *ngIf="loading"><i class="fa fa-spin fa-spinner"></i>Conectando</span>
						</button>
					</div>
					<style>
						.logging-buttons 
						{
							margin-left: 15px;
						}
						
					
					</style>
					<!--<input type="submit" value="Iniciar" (click)="login()">-->
					<!--<button (click)="login()" class="btn btn-primary">Iniciar Sesion</button>-->
					<a href="http://localhost:4200/recuperacion_contrasenia">¿Has olvidado tu contraseña?</a>
				</form>
				
			</div>
		</div>
	</div>
	
</body>
</html>